body {
    background-image: linear-gradient(to right, rgb(250, 215, 221), rgb(223, 124, 124));
}

.todoListContainer, .addTodoContainer {
    display: flex;
  align-items: center;
  justify-content: center;
}

.addTodoContainer {
    margin-top: 30px;
}